- form_for @radio_program do |f|
  %p
    Nazwa
    %br
    = f.text_field :name
    %br
    Zapowiedź
    %br
    = f.text_area :announcement
    %br
    Playlista
    %br
    = f.text_area :playlist
  
  %p=f.submit "Dodaj"
%p= link_to "Powrót", radio_programs_path
